.footer-img{
    height: 31px;
    width: 200px;
}
.footercolor{
    background-color:#12436b ;
    color: white;
    position: relative;
    z-index: 8;
}
.footer-line{
    border: 1px solid white ;
    font-weight: bold;
    color: white;
}