.hero-bg{
    background-image: url('../../media/herobg.png');
    background-size: cover;
    height: 90vh;
    
}
.particles-sect{
    position: absolute;
    z-index: 2;
}
.hero-h, .hero-p{
    color: white;
}
.hero-hr{
    border-color: white;
    font-weight: bolder;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.hero-img{
    width: 540px;
    height: 455px;
}
.hero-btn{
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    border: none;
    background-color:  #FFC107FF;
    border-radius: 3px;
}
.hero-btn-two{
    background-color: #dc3545;
    color: white;
    width: 170px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.hero-top{
    padding-top: 100px;
}