.roadmap-img{
    max-width: 80%;
    height: auto;
}
.roadmap-img-two{
    max-width: 90%;
    height: auto;
}
.roadmap-btn{
    background-color: #FFC107FF;
}
.roadbg{
    background-image: url('../../media/tokenbg.png');
}
