/* .login-bg{
    background-color: rgb(184, 63, 184);
    height: 100vh;
}
.login{
    margin: 100px auto;
    width: 400px;
    padding: 50px;
    border-radius: 20px;
    background-color: white;
}
.login h4{
    font-size: 36px;
    padding-bottom: 20px;
}
h4{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}
.login form{
    font-size: 20px;
}
.login form .form-group{
    margin-bottom: 20px;
}
.login form input{
    font-size: 20px;
    margin-top: 15px;
}
.checkbox2{
    size: 50px; 
    margin-right: 20px;
    transform: scale(2);
}
.bottom-l{
    width: 100%;
    background-color: rgb(184, 63, 184);
    color: white;
}
.sign-b{
    width: 100%;
    background-color: blue;
    color: white;
}
.l-top{
    background-color: rgb(184, 63, 184);
    color: white;
    width: 45%;
    margin-right: 15px;
    margin-left: 15px;
}
input{
    border: none;
    border-bottom: 1px solid rgb(109, 62, 62);
    width: 100%;
}
.sign-up{
    width: 45%;
    background-color: blue;
    color: white;
}
.center-f{
    background-color: white;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    padding: 50px;
   margin-left: 350px;
   margin-top: 50px;
   margin-bottom: 100px;
   
}
.signup{
    background-color: rgb(77, 77, 217);
} */
